
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

body {

  background: #ebebeb;

}

#container {

  width: 960px;
  margin: auto;
  min-height: 500px;
  background: #fff;

}

.swatch {

  width: 500px;
  height: 500px;

}