html, body, #app-view {
  height: 100%;
}

body {
  margin: 0;
}

#currentColourContainer {
  height: 50%;
  overflow-y:auto;
  line-height: 100%;
  text-align:center;
}

.swatchesContainer {
  height: 50%;
  width: 100%;
  display: table;
  table-layout:fixed;
  border-spacing: 10px;
}

.swatch {
  position: relative;
  display: table-cell;
  transition: width 2s;
}

.current-colour {
  height: 4000px;
}

.swatch-text {
  font-size: 24px;
  font-family: "helvetica neue";
  font-weight: 600;
}